h1 {
  text-align: center;
  font-family: 'Georgia', serif;
}

html {
  overflow:auto;
}

.landingpage {
  transition: margin-left 0.4s;
}

.close_button {
  transition: background-color 0.5s ease-in-out;
}

.close_button:hover {
  border-radius: 5px;
}

.preload {
  transition: none !important;
  transform: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
}

.body {
  margin-bottom: 20px;
  padding-top: 20px;
}

.main-container {
  margin: auto;
  text-align: justify;
  width: auto;
  margin-left: 25%;
  transition: margin-left 0.4s;
}

.container {
  margin: auto;
  text-align: justify;
  background-color: white;
  column-count: 2;
  column-rule-style: hidden;
  column-gap: 40px;
  width: 60%;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 10px;
  transition: margin-left 0.4s;
}

.w3-button {
  transition: background-color 0.2s ease-in-out;
}

.intext-img {
  display: block;
  margin: auto;
  user-select: none;
  border-radius: 5px;
}